.content
  h1 PAPER SOCCER 
    br
    span best soccer simulator
  ul.menu
    li
      a(href="/games/new", id="new-game", class="button") START NEW GAME
    li
      a(href="http://en.wikipedia.org/wiki/Paper_Soccer", class="button") INFO

  .credis




